.page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.page > div, a{
    height: 64px;
    width: 64px;
}

.page > div, a{
    margin: 1em;

    border: var(--borderSize) double var(--bright);
    border-radius: var(--borderRad);
}

a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a label{
    margin: 1em;

}